@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background:rgb(32, 30, 30);
}


.glassyBg {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  transition: 0.5s linear;
}
.glassyBg:hover  {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #1e1e1e; /* Background color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners */
  border: 3px solid #1e1e1e; /* Padding around the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar thumb on hover */
}
/* loader css */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes bounce {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.5);
  }
}

.spinner {
  animation: spin 1s linear infinite;
}

.bounce {
  animation: bounce 1s infinite;
}

.loader {
  position: relative;
  width: 50px;
  height: 50px;
}

.ball {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #007bff;
  border-radius: 50%;
  animation: ballBounce 1s ease-in-out infinite alternate;
}

@keyframes ballBounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(30px);
  }
}

